<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Password Mismatch.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style6.css">
  <meta http-equiv="refresh" content="8;url=/users/add">
</head>
<body>

  <div class="overlay">
    <div class="popup">
      <div class="icon">&#10060;</div>
      <h2>Password Mismatch</h2>
      <p>
        Password and Confirm Password do not match.<br>
        Please try again.
      </p>
    </div>
  </div>

</body>
</html>